<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-content">
            <h1 class="navbar-heading">Classroom</h1>
        </div>
    </nav>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/login/" method="post">
            {% csrf_token %}
            
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
